.operations-table {
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  padding: 20px;
}
.operations-row {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-size: 12px;
}

.operations-row > div > span {
  margin-right: 7px;
}

.operations-row > div > i {
  cursor: pointer;
}

.operations-row > div > i:hover {
  opacity: 0.7;
}

.header {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 20px;
}

.id {
  flex-basis: 15%;
}
.date {
  flex-basis: 20%;
}

.type {
  flex-basis: 15%;
}
.from {
  flex-basis: 15%;
}
.details {
  flex-basis: 20%;
}
.amount {
  flex-basis: 15%;
}

.operationsFilterSum {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
  height: 100px;
  background-color: #fff;
  position:absolute;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.08);
  padding: 5px;
}
.operationsFilterSumBox {
  height: 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;

}
.operationsFilterSumBox:hover{
  cursor: pointer;
  font-size: 16px;
}

.operations-table span{
  margin: 5px;
  font-size: 14px;
}
.operations-table-filter-box{
  display: flex;
}
.operationsFilterType{
  margin-left: 80px;
}

.operationsFilterType-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
  height: 60px;
  background-color: #fff;
  position:absolute;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.08);
  padding: 7px;
  margin-top: 15px;
}