.operations-table {
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  padding: 20px;
}
.operations-row {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-size: 12px;
}

.operations-row > div > span {
  margin-right: 7px;
}

.operations-row > div > i {
  cursor: pointer;
}

.operations-row > div > i:hover {
  opacity: 0.7;
}

.header {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 20px;
}

.id {
  flex-basis: 15%;
}
.date {
  flex-basis: 20%;
}

.type {
  flex-basis: 15%;
}
.from {
  flex-basis: 15%;
}

.to {
  flex-basis: 20%;
}
.amount {
  flex-basis: 15%;
}

.operations-table span {
  font-size: 14px;
}
.operations-table-filter-box {
  display: flex;
}

.operationsSearchBox {
  flex-basis: 65%;
  display: flex;
  justify-content:space-between;
  padding-right: 50px;
}
.operationsFilterType {
  flex-basis: 20%;
}
.sumfilter{
  flex-basis: 15%;
  display: flex;
  }
.operations-table-filter-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.operationsPaginationsNumbersBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sumfilterBox{
  text-align: center;
  cursor: pointer;
  width: 150px;
}
.sumfilterBox:hover{
  font-size: 16px;
}

.operationsSelect{
  border: none;
}

.operationsSelect option{
  border: none;
}
.operationsSelectBox{
  display: flex;
  width: 150px;
  align-items:center;
  justify-content:start;
}
